.note {
    width: 50rem;
    padding: 2rem;
    background-color: #ccc;
    border-radius: 1.2rem;
    font-family: sans-serif;
    margin: 2rem;
}

.title {
    font-size: 2rem;
    font-family: sans-serif;
}

.body {
    font-size: 2rem;
    max-width: 100%;
}