.note {
    max-width: 30rem;
    height: 30rem;
    padding: 2rem;
    background-color: #ccc;
    border-radius: 1.2rem;
    font-family: sans-serif;
    margin: 2rem;
    position: relative;
}

.title {
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
}

.title h2 {
    font-size: 2.5rem;
    font-family: sans-serif;
}

.body {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.body p {
    font-size: 2rem;
}

.removeBtn {
    position: absolute;
    right: -1rem;
    top: -1rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f5ba13;
}